
	@supports not (-webkit-touch-callout: none) {
	  /* CSS for other than iOS devices */ 
		body {
	        	background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: cover;
			line-height: 1.0;
	}
	}
	
	@supports (-webkit-touch-callout: none) {
	  /* CSS specific to iOS devices */ 
		body {
		background-color: black;
		background-attachment: scroll;
		}
	}


	@media only screen and (max-width: 767px) {
		body {
		  	background-image: url('https://i.ibb.co/DDM3dZJH/backgroundkarmamobile.jpg');
		}
		main {
			width: 100%
		
		}
		}
	@media only screen and (min-width: 767px) {
		body {
 			background-image: url('https://i.ibb.co/S7Mg1GzM/backgroundkarma.jpg');
		}
		main {
			width: 75%;
		}
		}


	ul {
 		list-style: none;
		}
	img {
		max-width: 100%
	}
	a {
		color: inherit;
		}
	h1 {
		text-align: center;
		background: url("https://i.ibb.co/6c7c6PQG/Gwo-ZJLia-YAAp-B0w.jpg"); 
		background-size:100% 100%;
		border: 5px solid #FFFFFF;
		color: #FFFFFF;
		font-family: 'Bakbak One';
		font-style: Bold;
		font-size: 56px;
		}
	h2 {		
		border-image:  url("https://i.ibb.co/6c7c6PQG/Gwo-ZJLia-YAAp-B0w.jpg") 100 Stretch;
		border-bottom: 4px solid transparent;
		border-top: 4px solid transparent;
		border-left: 4px solid transparent;
		border-right: 4px solid transparent;
		background: #000000;
		color: #FFFFFF;
		font-family: 'Bakbak One';
		font-style: Bold;
		font-size: 36px;
		}
	/*h3 {
		border-radius: 25px;
		background: linear-gradient(45deg, rgba(94, 255, 255, 1) 5%, rgba(24, 75, 140, 1) 90%);
		color: #FFFFFF;
		font-family: 'Bakbak One';
		font-size: 24px;
		padding: 10px;
		text-align: center;
		}*/
	h4 {
		border-image:  url("https://i.ibb.co/6c7c6PQG/Gwo-ZJLia-YAAp-B0w.jpg") 100 Stretch;
		border-bottom: 3px solid transparent;
		background: #000000;
		color: #FFFFFF;
		font-family: 'Bakbak One';
		font-style: Bold;
		font-size: 26px;
		text-align: left;
		}
	h5 {
		background: url("https://i.ibb.co/6c7c6PQG/Gwo-ZJLia-YAAp-B0w.jpg"); /*color: rgba(24, 75, 140, 1);*/
		background-size: cover;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		
		text-align: center;
		font-family: 'Bakbak One';
		font-size: 20px;
		}

		.my-div {
		  background-color: black;
		}

details > summary {
	margin-left: 100px;
}
		table {
		border-collapse: seperate;
		border-spacing: 0px;
		text-align: left;
		margin-left: 0px;
		width: auto;
		}
		table tr td{
		padding-left: 20px;
		}

		@font-face {
		font-family: 'Bakbak One';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url(https://fonts.gstatic.com/s/bakbakone/v8/zOL54pXAl6RI-p_ardnu-cJkvthH.woff2) format('woff2');
		unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
		}
		/* latin-ext */
		@font-face {
		font-family: 'Bakbak One';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url(https://fonts.gstatic.com/s/bakbakone/v8/zOL54pXAl6RI-p_ardnu-c1kvthH.woff2) format('woff2');
		unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
		}
		/* latin */
		@font-face {
		font-family: 'Bakbak One';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url(https://fonts.gstatic.com/s/bakbakone/v8/zOL54pXAl6RI-p_ardnu-cNkvg.woff2) format('woff2');
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
		}

		p {
		font-family: 'Bakbak One';
		Color: rgba(255, 255, 255, 1);
		text-align: left;
		font-size: 18px;
		}

		mark {
		background: url("https://i.ibb.co/6c7c6PQG/Gwo-ZJLia-YAAp-B0w.jpg");
		background-size: cover;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-family: 'Bakbak One';
		font-size: 18px;
		}

		s {
		background: url("https://i.ibb.co/spjvGKxS/channels4-profile.jpg");
		background-size: cover;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-family: 'Bakbak One';
		font-size: 18px;
		text-decoration: none;
		}

		input[type='checkbox'] {
		accent-color: rgba(29, 74, 191, 1);
		transform : scale(1.5);
		margin-right: 8%;
		margin-top: 3%;
		margin-bottom: 3%;
		}

		.dropbtn {
		  background: url("https://i.ibb.co/6c7c6PQG/Gwo-ZJLia-YAAp-B0w.jpg");
		background-size: cover;
		  color: white;
		  font-family: 'Bakbak One';
		font-style: Bold;
		font-size: 26px;
		  border: none;
		}
		
		.dropdown {
		  position: relative;
		  display: inline-block;
		}
		
		.dropdown-content {
		  display: none;
		  position: absolute;
		  background-color: black;
		  min-width: 160px;
		  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		  z-index: 1;
		}
		
		.dropdown-content a {
		  color: rgba(206, 196, 161, 1);
		  padding: 12px 16px;
		font-family: 'Bakbak One';
		  text-decoration: none;
		  display: block;
		}
		
		.dropdown:hover .dropdown-content {display: block;}
		
		.dropdown-content a:hover {background-color: rgba(31, 58, 15, 1);}
		
		.dropdown:hover .dropbtn {background-color: rgba(31, 58, 15, 1);}
		
		.button-85 {
		  padding: 0.2em 0.6em;
		  border: none;
		  outline: none;
		  color: #FFFFFF;
		font-family: 'Bakbak One';
		font-size: 24px;
		text-align: center;
		  background: #111;
		  cursor: pointer;
		  position: relative;
		  z-index: 0;
		  border-radius: 10px;
		  user-select: none;
		  -webkit-user-select: none;
		  touch-action: manipulation;
		}
		
		.button-85:before {
		  content: "";
		 background: url("https://i.ibb.co/6c7c6PQG/Gwo-ZJLia-YAAp-B0w.jpg");
		background-size: cover;
		  position: absolute;
		  top: -2px;
		  left: -2px;
		  background-size: 400%;
		  z-index: -1;
		  filter: blur(5px);
		  -webkit-filter: blur(5px);
		  width: calc(100% + 4px);
		  height: calc(100% + 4px);
		  animation: glowing-button-85 20s linear infinite;
		  transition: opacity 0.3s ease-in-out;
		  border-radius: 10px;
		}
		
		@keyframes glowing-button-85 {
		  0% {
		    background-position: 0 0;
		  }
		  50% {
		    background-position: 400% 0;
		  }
		  100% {
		    background-position: 0 0;
		  }
		}
		
		.button-85:after {
		  z-index: -1;
		  content: "";
		  position: absolute;
		  width: 100%;
		  height: 100%;
		  background: #222;
		  left: 0;
		  top: 0;
		  border-radius: 10px;
		}

header {
	padding-top: 25px;
	width: 95%;         
	margin: 0 auto; 
	justify-content: center;
	text-align: center;
}

main {
	margin: 0 auto;  
	justify-content: center;
	text-align: center;
}

footer {
	justify-content: center;
	text-align: center;
}
